In [1]:
import numpy as np
import pandas as pd

# Basic data structures in pandas
 - Pandas provides two types of classes for handling data:

## [Series](Series.ipynb): 
 - a one-dimensional labeled array holding data of any type such as integers, strings, Python objects etc.

## [DataFrame](DataFrame.ipynb): 
 - a two-dimensional data structure that holds data like a two-dimension array or a table with rows and columns.

# Object creation
 - See the Intro to data structures section.

 - Creating a Series by passing a list of values, letting pandas create a default RangeIndex.

In [3]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Creating a DataFrame by passing a NumPy array with a datetime index using date_range() and labeled columns:

In [6]:
dates = pd.date_range("20130101", periods=6)
#dates
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  1.227273 -1.069660 -0.646229 -0.254119
2013-01-02 -0.839183 -0.228532 -0.282527 -0.452368
2013-01-03 -1.136936 -0.744868 -1.418592  0.635152
2013-01-04  0.623485  0.679202  0.535280  0.008622
2013-01-05 -1.534913 -1.123404  0.005862 -1.017116
2013-01-06  1.019132  0.262986 -0.138497  0.084513